*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
  }
  
  nav{
    background: #159957a6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799a6, #159957a6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799a6, #159957a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    color: azure;
    padding: 3px;
    padding-left: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.562);
    width: 100%;
  }
  
  #navbar div{
  display: inline-block;
  }
  #nav1{
  color: white;
  padding: 12px;
  font-weight: 600;
  }
  
  #nav1 h1{
  display: inline-block;
  margin-left: 20px;
  letter-spacing: 10px;
  }
  
  #navbar a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  }
  
  #list ul{
  display: inline-block;
  margin-left: 200px;
  }
  
  #list li{
  display: inline-block;
  color: white;
  margin-left: 40px;
  }

  #main-body{
      padding-top: 10%;
      color:white;
  }

  /* table tr, th, td{
    border: 1px solid black;
} */

table{
    width: 100%;
    
}

tr{
    text-align: center;
}

th, td{
    padding: 10px;
}

th{
  background: #159957a6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799a6, #159957a6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #155799a6, #159957a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  letter-spacing:2px
}

/* .table-data{
    background-color: gainsboro;
} */

table h3{
    color: gainsboro;
}

td a{
	color:white;
    text-decoration: none;
  }